/*  =============================================================================
    =============================================================================

    PRINT

    --

    This file will compile into print stylesheet for all browsers
    
    ==========================================================================
    ========================================================================== */
/*  =============================================================================
	=============================================================================

	BASE

	--

	This file contains all the global CSS variables and settings.
	This is used for both style.css and style-legacy.css

	--

	File contents:

	01. Imports
	02. Colours & Sizes
	03. Transition Settings
	04. Grids (for Susy)
	05. Media Queries (for Susy)
	06. Vertical Rhythm
	07. Fonts & Font stacks
	08. Mixins
	09. Spriting

	==========================================================================
	========================================================================== */
/*	=============================================================================
	01. Imports
	========================================================================== */
/*	=============================================================================
	02. Colours & Sizes
	========================================================================== */
/* 	=============================================================================
	03. Transition Settings
	========================================================================== */
/* 	=============================================================================
	04. Grids (for Susy) -- requres Susy: http://susy.oddbird.net/
	========================================================================== */
/* 	==========================================================================
	05. Media Queries (for Susy) -- requres Susy: http://susy.oddbird.net/
	========================================================================== */
/* 	==========================================================================
	06. Vertical Rhythm -- requires Compass http://compass-style.org/
	========================================================================== */
* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 0.375em;
}

/* 	==========================================================================
	07. Fonts & Font stacks
	========================================================================== */
/* 	=============================================================================
	08. Mixins
	========================================================================== */
/*  =============================================================================
    =============================================================================

    MIXINS FOR USE AND REUSE

    --

    File contents:

    01. Misc Mixins
    02. Media Queries
    03. 

    ==========================================================================
    ========================================================================== */
/*  =============================================================================
    01. Misc Mixins
    ========================================================================== */
/*  =============================================================================
    02. Media Queries
    ========================================================================== */
/*  =============================================================================
    03. 
    ========================================================================== */
/* 	=============================================================================
	09. Spriting -- requires Compass http://compass-style.org/
	========================================================================== */
/*  =============================================================================
	=============================================================================

	PRINT STYLES

	--

	File contents:

	01. Hide unnecessary
	02. Increase contrast
	03. Add extra info
	04. Tweak formatting: General
	05. Tweak formatting: Logo
	06. 

	==========================================================================
	========================================================================== */
/*	=============================================================================
	01. Hide unnecessary
	========================================================================== */
nav {
  display: none  !important;
}

/*	=============================================================================
	02. Increase contrast
	========================================================================== */
* {
  background: transparent !important;
  color: black !important;
  /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
  -webkit-transition: all 0 ease;
  -webkit-transition-delay: !important;
  -moz-transition: all 0 ease !important;
  -o-transition: all 0 ease !important;
  transition: all 0 ease !important;
}

body * {
  color: black !important;
}

/*	=============================================================================
	03. Add extra info
	========================================================================== */
.author-social-links a[href]:after, .full-content-body a[href]:after, .multi-content-inner a[href]:after {
  content: " (" attr(href) ")";
}

.full-content-body abbr[title]:after, .multi-content-inner abbr[title]:after {
  content: " (" attr(title) ")";
}

.author-social-links .ir a:after, .full-content-body .ir a:after, .multi-content-inner .ir a:after, .author-social-links
a[href^="javascript:"]:after, .full-content-body
a[href^="javascript:"]:after, .multi-content-inner
a[href^="javascript:"]:after, .author-social-links
a[href^="#"]:after, .full-content-body
a[href^="#"]:after, .multi-content-inner
a[href^="#"]:after {
  content: "";
}

/*	=============================================================================
	04. Tweak formatting: General
	========================================================================== */
.main-canvas {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  margin-left: 2cm !important;
  margin-right: 2cm !important;
  left: auto !important;
  right: auto !important;
}
.menu-open .main-canvas {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  left: auto !important;
  right: auto !important;
}

a,
a:visited {
  text-decoration: none !important;
}
.full-content-body a, .multi-content-inner a, .full-content-body
a:visited, .multi-content-inner
a:visited {
  border-bottom-color: red !important;
}

pre,
blockquote,
.footer,
.asset-embed {
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
  /* h5bp.com/t */
}

tr,
img,
.full-content-detail-list {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

@page {
  margin: 2cm 4cm;
}

h2,
h3 {
  page-break-after: avoid;
}

p,
h2,
h3,
h4 {
  orphans: 3;
  widows: 3;
}

/*	=============================================================================
	05. Tweak formatting: Logo
	========================================================================== */
.logo {
  top: 0 !important;
  right: 0 !important;
  position: absolute !important;
  background-color: yellow !important;
  width: 1.5cm !important;
  height: 1.5cm !important;
  z-index: 100;
}
.logo img {
  width: 1.5cm !important;
  height: 1.5cm !important;
}

.logo-container {
  background-color: blue !important;
  position: relative !important;
  width: 100% !important;
}
.menu-open .logo-container {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/*	=============================================================================
	06. 
	========================================================================== */
