/*  =============================================================================
    =============================================================================

    File contents:

    - Global Defaults
    - Global Site Header
    - Global Site Footer

    - Breadcrumb
    - Pagination

    ==========================================================================
    ========================================================================== */



/*  =============================================================================
    Global Defaults
    ========================================================================== */


* {
    @include border-box-sizing;
    outline:none !important;
}

html,
body {
    background:$background;
}

body {
    color: $default-text-color;
    @include adjust-font-size-to($base-font-size);
    font-family: $serif;
}

header, footer {
    margin:0;
    width:auto;
}




/*  =============================================================================
    Typogrpahy
    ========================================================================== */




/*  =============================================================================
    Accessibility Links
    ========================================================================== */




/*  =============================================================================
    Global Site Header
    ========================================================================== */




/*  =============================================================================
    Global Site Footer
    ========================================================================== */




/*  =============================================================================
    Breadcrumb
    ========================================================================== */



