/*  =============================================================================
    =============================================================================

    MAIN STYLES
    
    --

    File contents:

    01. Global Defaults
    02. Accessibility Links
    03. Global Site Header
    04. Global Site Footer
    05. Breadcrumb
    06. 

    ==========================================================================
    ========================================================================== */




/*  =============================================================================
    01. Global Defaults
    ========================================================================== */


* {
    @include border-box-sizing;
    outline:none !important;
}

html,
body {
    background:$background;
}

body {
    color: $default-text-color;
    @include adjust-font-size-to($base-font-size);
    font-family: $serif;
}

header, footer {
    margin:0;
    width:auto;
}




/*  =============================================================================
    02. Accessibility Links
    ========================================================================== */




/*  =============================================================================
    03. Global Site Header
    ========================================================================== */




/*  =============================================================================
    04. Global Site Footer
    ========================================================================== */




/*  =============================================================================
    05. Breadcrumb
    ========================================================================== */




/*  =============================================================================
    06. 
    ========================================================================== */



