/*  =============================================================================
    =============================================================================
    
    Temporary things. Eg dev helpers etc.

    ==========================================================================
    ========================================================================== */



// Breakpoint indicator
body:before {
    display: block;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 20px;
    text-align: center;
    padding: 0 4px;
    color: black;
    font-family: $sans-serif;

    @include only-grid-4  { content:'4';  right: 0; }
    @include from-grid-6  { content:'6';  }
    @include from-grid-9  { content:'9';  }
    @include from-grid-12 { content:'12';  }
    @include from-grid-18 { content:'18';  }

    background: #ccc;

    @include only-retina {
        border:2px solid black;
        border-right:none;
    }
}
