/*  =============================================================================
    =============================================================================

    PRINT

    --

    This file will compile into print stylesheet for all browsers
    
    ==========================================================================
    ========================================================================== */


$legacy-support-for-ie: true;
$legacy-support-for-ie8 : true;
$no-media-query-support: true;

@import "base";
@import "print";