/*  =============================================================================
    =============================================================================

    LEGACY

    --
    
    This file will compile into stylesheet for IE8 and below

    ==========================================================================
    ========================================================================== */


$legacy-support-for-ie: true;
$legacy-support-for-ie8 : true;
$no-media-query-support: true;

@import "base";
@import "normalise";
@import "drupal-overrides";
@import "utility";
@import "typography";
@import "grids";
@import "forms";

@import "main";

// One Partial Per View Mode
@import "vm-teaser";
@import "vm-full";

// Styles for jQ Plugins go here

// Temporary Dev Styles
@import "temporary";

// IE8 (and below) Specific Styles
@import "ie";