/*  =============================================================================
    =============================================================================

    DEFAULT STYLES

    --

    This file will compile into stylesheet for moderm browsers.
    
    ==========================================================================
    ========================================================================== */


$legacy-support-for-ie: false;
$legacy-support-for-ie8 : false;
$no-media-query-support: false;

@import "base";
@import "normalise";
@import "drupal-overrides";
@import "utility";
@import "typography";
@import "grids";
@import "forms";

@import "main";

// One Partial Per View Mode
@import "vm-teaser";
@import "vm-full";

// Styles for jQ Plugins go here

// Temporary Dev Styles
@import "temporary";